html {
    background-color: white;
}

body {
    padding: 2%;
}

header {
    --font-size: 4rem;
    position: relative;
    font-size: var(--font-size);
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

a {
    font-family: "EB Garamond", serif;;
    text-decoration: none;
    color:Black;
}


h1 {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 2.1rem;
}

h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
}

h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.6rem;    
}

h4 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "EB Garamond", serif;
}

nav {
    justify-content: space-around;
}

footer {
    border-top: 0.15rem solid black;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.search {
    display: flex;
    align-items: center;
    padding: 0.8rem;
    padding-left: 6rem;
    border-radius: 1rem;
    background: #f6f6f6;
    margin: 2%;
    margin-bottom: 0;
    border: 0.03rem black solid;
}

/*rem = 16px*/

.search-input {
    font-size: 1rem;
    font-family: "EB Garamond", serif;
    color: #333333;
    outline: none;
    border: none;
    background: transparent;
}

.icon {
    height: 80px;
    width:80px;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.center {
    justify-content: space-around;
    align-items: center;
}

.linebreak {
    margin-bottom: 1rem;
}

.p2 {
    padding-left: 2rem;
    padding: 1rem;
    font-size: 1.5rem;
    text-align: left;
}

.blob {
    width: max-content;
    display: flex;
    padding: 14px;
    border-radius: 20px;
    background:#c0c0c0;
    outline: none;
    border: none;
}

#banner {
    width: 100%;
    display: block;
    margin-bottom: 1.5rem;
    border-radius: 1rem;
    border: var(--border);
}

#logo {
    width: 50%;
    margin: auto;
    display: block;
    margin-bottom: 0.5rem;
}

#icon-est-img {
    width: 50%;
}

#icon-est {
    --border: 0.15rem black solid;
    border: var(--border);
    display: flex;
    align-items: center;
    justify-content: center;
}

#text-center {
    text-align: center;
}

#paragraph {
    font-size: 1.5rem;
    text-align: justify;
}

#chat_est {
    --border: 0.15rem black solid;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: var(--border);
}

#voltar {
    margin-left: 1rem;
    margin-right: 1.5rem;
}

#teclado {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
}

#mensagens {
    position: fixed;
    width: 100%;
}

#chat_geral {
    --border: 0.15rem black solid;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    position: flex;
    justify-content: center;
    border-top: var(--border);
    border-bottom: var(--border);
}

#titulo-est {
    justify-content: space-between;
    align-items: center;
}

.mensagem {
    display: flex;
    align-items: center;
    padding: 0.8rem;
    padding-left: 3rem;
    padding-right: 4rem;
    border-radius: 1rem;
    background: #f6f6f6;
    margin: 2%;
    border: 0.03rem black solid;
}

.mensagem-input {
    font-size: 1rem;
    font-family: "EB Garamond", serif;
    color: #333333;
    outline: none;
    border: none;
    background: transparent;
    width: 15rem;
}

#enviar {
    width: max-content;
    align-items: center;
    padding: 2%;

}

.barra-msg {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#enviada {
    width: max-content;
    display: flex;
    justify-content: right;
    padding: 2rem;
    border-radius: 1rem;
    background: #b1afaf9a;
    margin: 2%;
}

#recebida {
    width: max-content;
    display: flex;
    justify-content: left;
    padding: 2rem;
    border-radius: 1rem;
    background: #b1afaf9a;
    margin: 2%;
    /* margin-left: auto; */
}

.inv{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

#chat {
    display: flex;
    flex-direction: column-reverse;
}

#hora {
    position: relative;
    left: 1.35rem;
    top: 1.5rem;
}