html {
    background-color: white;
}

header {
    --font-size: 4rem;
    position: relative;
    font-size: var(--font-size);
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

a {
    font-family: "EB Garamond", serif;;
    text-decoration: none;
    color:Black;
}


h1 {
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

h2 {
    font-family: "Montserrat", sans-serif;
    margin-left: 2rem;
    font-size: 2rem;
}

h3 {
    font-family: "EB Garamond", serif;
    font-size:1.5rem;    
}

body {
    display: flex;
    flex-direction: column;
    font-family: "EB Garamond", serif;
}

nav {
    direction: flex;
    justify-content: space-around;
}

footer {
    border-top: 1rem black;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.bord {
    border-top: 2px solid black;
}
.search {
    --padding: 14px;
    width: max-content;
    display: flex;
    align-items: center;
    padding: var(--padding);
    padding-left: 2rem;
    border-radius: 1rem;
    background: #f6f6f6;
    margin: auto;
    flex-wrap: wrap;
    border: 0.03rem black solid;
}

/*rem = 16px*/

.search-input {
    font-size: 1rem;
    font-family: "EB Garamond", serif;
    color: #333333;
    margin-left: var(--padding);
    outline: none;
    border: none;
    background: transparent;
    flex: 1;
}

.icon {
    height: 80px;
    width:80px;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.center {
    direction: flex;
    justify-content: space-around;
    align-items: center;
}

.linebreak {
    margin-bottom: 1rem;
}

.p2 {
    padding-left: 2rem;
    padding: 1rem;
    font-size: 1.5rem;
    text-align: left;
}

.blob {
    width: max-content;
    display: flex;
    padding: 14px;
    border-radius: 20px;
    background:#c0c0c0;
    outline: none;
    border: none;
}

#banner {
    width: 95%;
    margin: auto;
    display: block;
    margin-bottom: 1.5rem;
    border-radius: 1rem;
    border: var(--border);
}

#logo {
    width: 50%;
    margin: auto;
    display: block;
    margin-bottom: 1.5rem;
}

#est-icon {
    --border: 0.15rem black solid;
    width: 50%;
    margin: 0;
    padding-left: 25%;
    padding-right: 25%;
    display: block;
    border-right: var(--border);
    border-top: var(--border);
    border-bottom: var(--border);

}

#text-center {
    text-align: justify;
}

#paragraph {
    font-size: 1.5rem;
    text-align: justify;
}